
.snack-card {
    overflow: hidden;
    height: auto;
    max-width: 760px;
    margin-bottom: 15px;
    border-radius: 9px;
    background-color: rgba(5, 0, 0, 0.1);
}
.snack-card-shadow{
    box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%);
}

.category{

}
.category.views{

}
.category.listens{

}
.category.reviews{

}
.category.placements{

}

.type{

}

.card.total-views {

}

.card-default {

}
.card-positive {

}
.card-neutral{

}
.card-negative{

}


.grad-did0001{
    background-image: linear-gradient(134deg, #2DC4B6 0%, #152755 100%);
}