.snack-card {
    overflow: hidden;
    height: auto;
    max-width: 760px !important;
    margin-bottom: 15px;
    border-radius: 9px;
    background-image: radial-gradient(50% 99% at 0 0, rgba(255,255,255,0.26) 0%, rgba(46,196,182,0.00) 100%);
    min-height: 310px;
}
.snack-card-shadow{
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
}

.bg-card-layer{
    position: relative;
}

.base, .mood, .data {
    min-height: 310px;
}

.btn img{
    transition: 0.5s;
}

.not-collapsed img {
    transform: rotate(-180deg);
}

.expanded .content {
    min-height: 200px;
    background-color: rgb(0 0 0 / 5%);
    padding: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.expanded .content .b-rating.disabled {
    background-color: transparent;
    color: #2ec4b6;
    border: 0;
}

.expanded .content .review-tags .tags-title{
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-right: 10px;
    line-height: 22px;
}

.expanded .content .review-tags .tag{
    text-transform: lowercase;
    font-size: 8px;
    line-height: 20px;
    padding: 2px 8px !important;
    margin-top: 3px !important;
}

.snack-card-title {
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    top: 20px;
}

.snack-card-col{
    background: radial-gradient(161.06% 99.7% at 50% 0%, rgba(91, 228, 220, 0.260493) 0%, rgba(46, 196, 182, 0.0001) 100%);
}

.snack-card-row{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -15.96%, rgba(255, 255, 255, 0.220717) 99.7%);
}

.snack-card-bg-items{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.snack-card-bg-items-content{
    position: relative;
    width: 100%;
    height: 100%;
}

.snack-card-bg-items-content > * {
    position: absolute;
    left: 0%;
    opacity: 0.17;
}

.snack-card-content{
    position: relative;
    z-index: 800;
}

.value-number.text-card {
    font-size: 50px;
    font-weight: 600;
}

.value-text.text-card {
    font-size: 15px;
    font-weight: 600;
}

.value-number.text-footer-card {
    font-size: 30px;
    font-weight: 600;
}

.value-text.text-footer-card {
    font-size: 13px;
    font-weight: 600;
    color: white;
    text-transform: none;
}

.category{

}
.category.views{

}
.category.listens{

}
.category.reviews{

}
.category.placements{

}

.type{

}

.card.total-views {

}

.card-default {

}
.card-positive {

}
.card-neutral{

}
.card-negative{

}

.h-70{
    min-height: 70%;
}
.h-30{
    min-height: 30%;
}

/* Gradients */
.grad-did0001{
    background-image: linear-gradient(134deg, #2DC4B6 0%, #152755 100%);
}
.grad-did0019{
    background-image: linear-gradient(90deg, rgba(255,252,242,0.00) 2%, #FFA600 100%);
}

/* Gradients content */
.grad-did0001 > .snack-card-bg-items > .snack-card-bg-items-content > * {
    width: 100%;
}
.grad-did0019 > .snack-card-content > * {
    padding-left: 15%;
    padding-right: 15%;
    justify-content: start;
    text-align: start;
}

.grad-did0019 .first-section {
    min-height: 78px;
} 

.grad-did0019 .second-section {
    font-size: 12px;
    min-height: 154px;
} 

.grad-did0019 .third-section {
    font-size: 9px;
    padding: 0;
    min-height: 48px;
    margin-top: auto;
} 

.grad-did0019 .review-user .b-rating.disabled {
    background-color: transparent;
    color: white;
    border: 0;
}
.grad-did0019 .review-user .b-rating-star-empty {
    color: black;
    opacity: 0.6;
}

.timestamp{
    margin-left: auto;
}

.more-info{
    margin-left: auto;
    margin-right: 10px;
}

.no-button{
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
}

/**
 * Fonts
 */
@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/GraphikThin.otf) format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts/GraphikExtralight.otf) format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/GraphikLight.otf) format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/GraphikRegular.otf) format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/GraphikMedium.otf) format("opentype");
}
@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/GraphikSemibold.otf) format("opentype");
}

/**
* Typography
*/

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    color: white;
    line-height: 1.5;
    position: relative;
    margin: 0;
    background: black !important;
    letter-spacing: -0,1;
}

/* Buttons */
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.close {
    transition: 0.3s;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close:hover {
    color: #000;
    text-decoration: none;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: .75;
}

/* Modals */
.modal-login {
    border-radius: 5px !important;
    background-color: #f5f5f4 !important;
    -webkit-box-shadow: 0 0 50px rgb(24 24 24 / 50%);
    box-shadow: 0 0 50px rgb(24 24 24 / 50%);
    color: #4b4b4b;
    width: auto;
    max-width: 420px;
    min-width: 280px;
    padding: .5rem;
    min-height: 100px;
    max-height: 80vh;
    border: 20px solid #db2529 !important;
}